<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwfTIKkYS4wNdwaTvRugp3BHzQLkP6sjY</string>
	<key>GCM_SENDER_ID</key>
	<string>681495617297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.iosAcademy.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>iostodolist-ccbb9</string>
	<key>STORAGE_BUCKET</key>
	<string>iostodolist-ccbb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681495617297:ios:bb2453e48316856979f6b0</string>
</dict>
</plist>